body {
    background-image: url(Images/ThanosCarson.png);
    background-size: 1450px;
}
nav {
    padding: 5px;
    background-color: #4a0e99;
    border-radius: 5px;
    color: black;
    text-align: center;
}
h1 {
    padding: 5px;
    margin-left: 590px;
    margin-right: 590px;
    background-color: #4a0e99;
    border-radius: 5px;
    color: white;
}
nav > a:before {
    content: '[';
    color: black;
    font-weight: normal;
}
nav > a:after {
    content: ']';
    color: black;
    font-weight: normal;
}
nav > a:link, nav > a:visited {
    font-weight: bold;
    color: white;
    text-decoration: none;
}
nav > a:hover {
    font-weight: bold;
    color: black;
}
