<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title></title>
<style>
body {
          margin: 40px;
          padding: 40px;
          background-color: #FFF8DC;
          border: 1px solid #808080;
      }
      h1 {
          text-align: center;
          color: #FF8C00;
      }
            h2 {
          color: #8B4513;
      }
                  a, a:visited {
          color: #000000;
          text-decoration: none;
      }
              footer {
          text-align: center;
      }
</style>
</head>
<body>


<footer>
<a href="http://validator.w3.org/check/referer">
<strong> HTML </strong> Valid! </a> &nbsp;
<a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">
<strong> CSS </strong> Valid! </a>
</footer>

</body>
</html>
