table {
	margin-left: auto;
	margin-right: auto;
}
th {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	background-color: #159170;
	text-align: left;
}
td {
	border-bottom: 1px solid #FFF;
	background-color: #30d1a6;
}
td, th {
	padding: 0.2em 2em 0.2em 0.5em;
}
td+td, th+th {
	border-left: 1px solid #FFF;
}
