/* STYLE SHEET FOR INDEX.HTM */
body {
   font-size: 80%;
   font-family: arial, helvetica, geneva, sans-serif;
}

footer {
   font-size: 80%;
   text-align: center;
   clear: both;
}

h1 {
   font-family: arial, helvetica, geneva, sans-serif;
}
nav {
   background: #d8d8d8;
   font-weight: bold;
   float: left;
   height: 420px;
}
