/* STYLE SHEET FOR INDEX.HTM */


@font-face {
  font-family: oregonfont;
  src: url("../media/oregon book.ttf");
}

@keyframes logoanimation {
  0% {left: 0px; top: 0px;}
  50% {left: 200px; top: 0px;}
  100% {left: 0px; top: 0px;}
}

article {	
  padding: 10px;
}

body {
  font-family: oregonfont;
  font-size: 85%;
  border-style: solid;
  border-width: 5px;
  border-color: #d8d8d8;
}

footer {
  font-size: 80%;
  text-align: center;
  clear: both;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #d8d8d8;
  margin-top: 0;
  padding: 0;
}

h1 {
  text-shadow: 3px 3px 3px #888888;
  margin-top: 5px; 
  margin-bottom: 0px; 
}

header {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #d8d8d8;
}

nav {
  background: #d8d8d8; 
  font-weight: bold;
  float: left;
  height: 420px;
  padding-right: 24px;
  margin-right: 10px;
  opacity: 0.8;
}

section {
  background-image: url("../media/globe.png"); 
  background-repeat: no-repeat;
  background-size: contain;
}


#drop-menu {
   width: 150px;
   cursor: pointer;
   display: block;
   border: 2px solid #a1a1a1;
   padding: 5px;
   height: 20px;
   max-height: 20px;
   background: #add8e6;
   border-radius: 5px;
   box-shadow: 5px 5px 5px #888888;
   font-family: oregonfont;
   font-weight: bold;
   font-size: 85%;
   color: #0000A0;
}

#drop-menu:hover {
   border: 3px solid #bababa;
}

#drop-menu:hover .sub-menu {
   display: inline-block;
}

.sub-menu {
   display: none;
   width: 150px;
   padding: 5px 5px;
   border-radius: 5px;
   -webkit-box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
   -moz-box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
   box-shadow: 5px 5px 5px #888888;
   box-shadow: 5px 5px 5px rgba(0,0,0, 0.2);
}

.sub-menu li {
   list-style-type: none;
   display: block;
   border: 2px solid #add8e6;
   padding: 2px 5px;
   background: #d8d8d8;
   border-radius: 5px;
}

.sub-menu li:hover {
   border: 3px solid #bababa;
}

.floatright {
  float: right;
  clear: right;
  margin: 10px;
}

.navlinks {
  display: block;
  border: 2px solid #a1a1a1;
  padding: 2px 5px; 
  background: #add8e6;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #888888;
}

#animation {
  position: relative;

  /* Safari and Chrome: */
  -webkit-animation-name: logoanimation;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;

  animation-name: logoanimation;
  animation-duration: 4s;
  animation-timing-function: linear;

  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

#img-rotate {
  -ms-transform: rotate(345deg); /* IE9 */
  -webkit-transform: rotate(345deg); /* Chrome and Safari */
  transform: rotate(345deg);
  z-index: -1;
  position: relative;
}

#logo-rotate {
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  transform: rotateY(180deg);
} 

#video-rotate {
  -ms-transform: rotate(15deg); /* IE9 */
  -webkit-transform: rotate(15deg); /* Chrome and Safari */
  transform: rotate(15deg);
}
