/* STYLE SHEET FOR INDEX.HTM */
article {
   padding: 10px;
}
body {
   font-size: 80%;
   font-family: arial, helvetica, geneva, sans-serif;
}

footer {
   font-size: 80%;
   text-align: center;
   clear: both;
}

h1 {
   font-family: arial, helvetica, geneva, sans-serif;
}
nav {
   background: #d8d8d8;
   font-weight: bold;
   float: left;
   height: 420px;
}
.floatright {
   float: right;
   clear: right;
   margin: 10px;
}
.navlinks {
   display: block;
   border: 2px solid #a1a1a1;
   padding: 2px 5px;
   background: #add8e6;
   border-radius: 5px;
   text-decoration: none;
   box-shadow: 5px 5px 5px #888888;
}   
