/* STYLE SHEET FOR INDEX.HTM */


@font-face {
   font-family: oregonfont;
   src: url("../media/oregon book.ttf");
}

article {	
  padding: 10px;
}

body {
  font-family: oregonfont;
  font-size: 85%;
  border-style: solid;
  border-width: 5px;
  border-color: #d8d8d8;
}

footer {
  font-size: 80%;
  text-align: center;
  clear: both;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #d8d8d8;
  margin-top: 0;
  padding: 0;
}

h1 {
  margin-top: 5px; 
  margin-bottom: 0px; 
  text-shadow: 3px 3px 3px #888888;
}

header {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #d8d8d8;
}

nav {
  background: #d8d8d8; 
  font-weight: bold;
  float: left;
  height: 420px;
  padding-right: 24px;
  margin-right: 10px;
  opacity: 0.8;
}

section {
  background-image: url("../media/globe.png"); 
  background-repeat: no-repeat;
  background-size: contain;
}

.floatright {
  float: right;
  clear: right;
  margin: 10px;
}

.navlinks {
  display: block;
  border: 2px solid #a1a1a1;
  padding: 2px 5px; 
  background: #add8e6;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #888888;
}



